# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder.
frontend: !include frontend.yaml

alert: !include_dir_merge_named alerts/
automation manual: !include_dir_merge_list automations/
automation ui: !include automations.yaml
script: !include_dir_merge_named scripts/
scene: !include scenes.yaml
sensor: !include_dir_list sensors/
group: !include_dir_merge_named groups/
template: !include_dir_list templates/
rest: !include_dir_list rest/
command_line: !include_dir_list command_line/
notify: !include_dir_merge_list notify/
zha: !include zha.yaml

# Bindicator data source.
waste_collection_schedule: !include waste_collection_schedule.yaml

# HTTPS only access
# n.b. Comment out this block if SSL certificate renewal fails locking us out of the UI.
http: !include http.yaml

input_text: !include_dir_merge_named input_texts/

input_number: !include_dir_merge_named input_numbers/

# TODO: Remove this input_boolean once the automation is working correctly
input_boolean: !include_dir_merge_named input_booleans/
