IMPORT_RATE_EVENTS = [
    "event.octopus_energy_electricity_{{ electricity_meter_serial_number | lower }}_{{ electricity_meter_mpan_import }}_current_day_rates",
    "event.octopus_energy_electricity_{{ electricity_meter_serial_number | lower }}_{{ electricity_meter_mpan_import }}_next_day_rates",
]

IMPORT_RATE_SENSOR = (
    "sensor.octopus_energy_electricity_{{ electricity_meter_serial_number | lower }}_{{ electricity_meter_mpan_import }}_current_rate"
)
EXPORT_RATE_SENSOR = (
    "sensor.octopus_energy_electricity_{{ electricity_meter_serial_number | lower }}_{{ electricity_meter_mpan_export }}_export_current_rate"
)
EXPORT_POWER_SENSOR = (
    "sensor.current_export_electricity_{{ electricity_meter_serial_number | lower }}_{{ electricity_meter_mpan_export }}"
)
