zigpy_config:
  ota:
    z2m_remote_index: "https://raw.githubusercontent.com/Koenkk/zigbee-OTA/master/index.json"
    otau_directory: {{ zigpy_ota_dir }}
    extra_providers:
      - type: sonoff
      - type: z2m
      - type: ikea
