{% for alert in cover_battery_low_alerts %}
{{ alert.alert_id }}:
  name: {{ alert.name }}
  message: {{ alert.message }}
  done_message: {{ alert.done_message }}
  entity_id: {{ alert.entity_id }}

  # Ignore for 60m, then repeat every 24h
  repeat:
    - 60
    - 1440
  skip_first: true

  # Create a notification in Home Assistant
  notifiers:
    - persistent_notification
  data:
    notification_id: {{ alert.notification_id }}

{% endfor %}
