{% set ha_start = '{{' %}
{% set ha_end = '}}' %}
{% set call_for_heat_setpoint = 30 %}
{% set call_for_heat_lower_bound = call_for_heat_setpoint - 0.01 %}
{% set radiator_thermostats = [
  'climate.downstairs_room_radiator_a_thermostat',
  'climate.downstairs_room_radiator_b_thermostat',
  'climate.middle_bathroom_radiator_thermostat',
  'climate.kids_bedroom_radiator_thermostat',
  'climate.living_room_radiator_thermostat',
  'climate.office_radiator_thermostat',
] %}

- id: radiator_follow_thermostat_setpoints
  alias: Radiator follow thermostat setpoints
  trigger:
    - platform: state
      entity_id: input_number.landing_thermostat_baseline
  condition:
    - condition: template
      value_template: "{{ ha_start }} state_attr('climate.landing', 'temperature') | float(0) < {{ call_for_heat_lower_bound }} {{ ha_end }}"
  action:
{% for trv in radiator_thermostats %}
    - service: climate.set_temperature
      target:
        entity_id: {{ trv }}
      data:
        temperature: "{{ ha_start }} states('input_number.landing_thermostat_baseline') | float(0) {{ ha_end }}"
{% endfor %}
  mode: single
