{% set ha_start = '{{' %}
{% set ha_end = '}}' %}
{% set trvs = radiator_devices %}

{% for trv in trvs %}
- id: {{ trv.id }}_radiator_external_temperature_sync
  alias: {{ trv.alias }} Radiator External Temperature Sync
  trigger:
    - platform: state
      entity_id: {{ trv.external_temperature_sensor }}
  condition:
    - condition: template
      value_template: >-
        {{ ha_start }} states('{{ trv.external_temperature_sensor }}') not in ['unknown', 'unavailable', 'none'] {{ ha_end }}
  action:
    - service: switch.turn_on
      target:
        entity_id: {{ trv.external_temperature_enable }}
    - service: number.set_value
      target:
        entity_id: {{ trv.external_temperature_value }}
      data:
        value: >-
          {{ ha_start }} states('{{ trv.external_temperature_sensor }}') | float | round(1) {{ ha_end }}
  mode: single
{% if not loop.last %}

{% endif %}
{% endfor %}
