binary_sensor:
{% for cover in cover_battery_low_sensors %}
  - name: {{ cover.name }}
    state: >
      {% raw %}{{ states('{% endraw %}{{ cover.sensor_id }}{% raw %}') | int < {% endraw %}{{ cover_battery_low_threshold }}{% raw %} }}{% endraw %}
{# This newline required to stop endfor gobbling newline preceding each list item #}

{% endfor +%}
