binary_sensor:
{% for cover in cover_battery_low_sensors %}
  - unique_id: {{ cover.id }}_battery_low
    state: >
      {% raw %}{{ states('{% endraw %}{{ cover.id }}{% raw %}') | int > {% endraw %}{{ cover_battery_low_threshold }}{% raw %}}}"
{% endfor %}
