ha_src_dir: "{{ ha_root_dir }}/src"
ha_config_dir: "{{ ha_root_dir }}/config"
ha_data_dir: "{{ ha_root_dir }}/data"
ha_custom_components_dir: "{{ ha_config_dir }}/custom_components"

zigpy_ota_dir: "{{ ha_data_dir }}/zigpy/ota"

worxlandroid_pin: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  64386635353466656666376263346333336461306639633236333033623862383139313030363233
  3861386365333864386538666339636630653765303764620a616135343034393439393933383035
  66343962613338383135393738636661303634306231396166616364313238343937313063323436
  3634653731663564660a323338386162666134343466316531373039323963303737356366646165
  3561

electricity_meter_serial_number: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  63636437323238376461376337356238396531336163643930366162326430316233373634633466
  6536666364323863383266656231313337653562373664360a303661383765616337663964626164
  30383262643837616261653266623930633666653964383332316438373563393062366366333862
  6662393633626538310a396134346364616232653234666433303663303133343665626231663131
  3130

electricity_meter_mpan_import: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  63626136313737623433643438383362386462613632373436633134333962653037613266303230
  3634643639626431633230376531633763386134646535310a363739613165646465396137653138
  34383862616335343431376238343630653039393135376632343432643337346566653164643336
  3035326164636437330a373836666464336237303837646535613736663132376665666362393031
  6336

electricity_meter_mpan_export: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  35383861383261653034346265383061323635613566303963333436383930613731306634666464
  3331366431383366316238653063356631366137346265340a663164386265396336333932303231
  37636135373163656330363965616338363937326337643337353862636331663763336239356132
  3639366362396437660a313639623535333538363435363365643065316665306532323433646634
  3062

gas_meter_serial_number: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  32633363653335633138353237336666303865303938326162393864626531383238636639363566
  6165663430653538333635303132346238343737306435330a663034346337363934666161663562
  37333937636261316663363139386266666137623135323264336335323530373131643435333338
  3361383334323439340a326331366265636136623035623866656337363163613437666564393535
  6339

gas_meter_mpan: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  38393964623464333661633866613265653032353666616232346430393366323930643338343836
  6165386630656466376230616464333639393163313739300a313065366238363930313332343733
  34326336633337663963613964663637653339323735383030343732656636333538613064646161
  3431666639343134650a396266353661643932343334393439343933383630376638666235663637
  3266

family_room_lamp_button_device_id: 126e2f6852deb5457919ddd987f34c21

battery_low_threshold: 30
battery_devices:
  - name: Office Remote
    entity_id: sensor.office_remote_battery

  - name: Front Garden Soil Sensor
    entity_id: sensor.front_garden_soil_sensor_battery

  - name: Kids Bedroom Motion Sensor
    entity_id: sensor.kids_bedroom_motion_sensor_battery

  - name: Downstairs Lamp Button
    entity_id: sensor.downstairs_lamp_button_battery

  - name: Downstairs Room Radiator B
    entity_id: sensor.downstairs_room_radiator_b_battery

  - name: Kids Bedroom Left Blind
    entity_id: sensor.kids_bedroom_left_blind_battery

  - name: Garage Thermometer
    entity_id: sensor.garage_thermometer_battery

  - name: Closet Motion Sensor
    entity_id: sensor.closet_motion_sensor_battery

  - name: Downstairs Monstera Soil Sensor
    entity_id: sensor.downstairs_monstera_soil_sensor_battery

  - name: Kids Bedroom Remote
    entity_id: sensor.kids_bedroom_remote_battery

  - name: Pantry Door Sensor
    entity_id: sensor.pantry_door_battery

  - name: Downstairs Room Thermometer
    entity_id: sensor.downstairs_room_thermometer_battery

  - name: Master Bedroom Left Blind
    entity_id: sensor.master_bedroom_blind_left_battery

  - name: Closet Remote
    entity_id: sensor.closet_remote_battery

  - name: Back Garden Soil Sensor
    entity_id: sensor.back_garden_soil_sensor_battery

  - name: Back Garden Lawn Irrigation
    entity_id: sensor.back_garden_lawn_irrigation_battery

  - name: Utility Cupboard Door
    entity_id: sensor.utility_cupboard_door_battery

  - name: Dishwasher Door
    entity_id: sensor.dishwasher_door_battery

  - name: Living Room Left Blind
    entity_id: sensor.living_room_left_blind_battery

  - name: Kids Bedroom Radiator
    entity_id: sensor.kids_bedroom_radiator_battery

  - name: Living Room Thermometer
    entity_id: sensor.living_room_thermometer_battery

  - name: Kids Bedroom Thermometer
    entity_id: sensor.kids_bedroom_thermometer_battery

  - name: Living Room Right Blind
    entity_id: sensor.living_room_right_blind_battery

  - name: Office Thermometer
    entity_id: sensor.office_thermometer_battery

  - name: Sink Water Leakage Sensor
    entity_id: sensor.sink_water_leakage_sensor_battery

  - name: Living Room Radiator
    entity_id: sensor.living_room_radiator_battery

  - name: Kitchen Remote
    entity_id: sensor.kitchen_remote_battery

  - name: Master Bedroom Right Blind
    entity_id: sensor.master_bedroom_blind_right_battery

  - name: Middle Bathroom Radiator
    entity_id: sensor.middle_bathroom_radiator_battery

  - name: Utility Cupboard Remote
    entity_id: sensor.utility_cupboard_remote_battery

  - name: Office Radiator
    entity_id: sensor.office_radiator_battery

  - name: Middle Bathroom Thermometer
    entity_id: sensor.middle_bathroom_battery

  - name: Living Room Remote
    entity_id: sensor.living_room_light_remote_battery

  - name: Master Bedroom Remote
    entity_id: sensor.master_bedroom_remote_battery

  - name: Middle Bathroom Motion Sensor
    entity_id: sensor.middle_bathroom_motion_sensor_battery

  - name: Downstairs Room Radiator A
    entity_id: sensor.downstairs_room_radiator_a_battery

  - name: Kids Bedroom Right Blind
    entity_id: sensor.kids_bedroom_right_blind_battery

  - name: Garage Door
    entity_id: sensor.garage_door_battery

radiator_devices:
  - id: downstairs_room_radiator_a
    alias: Downstairs Room Radiator A
    thermostat: climate.downstairs_room_radiator_a_thermostat
    external_temperature_sensor: sensor.downstairs_room_temperature
    external_temperature_enable: switch.downstairs_room_radiator_a_external_temperature_sensor
    external_temperature_value: number.downstairs_room_radiator_a_external_temperature_sensor_value

  - id: downstairs_room_radiator_b
    alias: Downstairs Room Radiator B
    thermostat: climate.downstairs_room_radiator_b_thermostat
    external_temperature_sensor: sensor.downstairs_room_temperature
    external_temperature_enable: switch.downstairs_room_radiator_b_external_temperature_sensor
    external_temperature_value: number.downstairs_room_radiator_b_external_temperature_sensor_value

  - id: middle_bathroom
    alias: Middle Bathroom
    thermostat: climate.middle_bathroom_radiator_thermostat
    external_temperature_sensor: sensor.middle_bathroom_temperature
    external_temperature_enable: switch.middle_bathroom_radiator_external_temperature_sensor
    external_temperature_value: number.middle_bathroom_radiator_external_temperature_sensor_value

  - id: kids_bedroom
    alias: Kids Bedroom
    thermostat: climate.kids_bedroom_radiator_thermostat
    external_temperature_sensor: sensor.kids_room_temperature
    external_temperature_enable: switch.kids_bedroom_radiator_external_temperature_sensor
    external_temperature_value: number.kids_bedroom_radiator_external_temperature_sensor_value

  - id: living_room
    alias: Living Room
    thermostat: climate.living_room_radiator_thermostat
    external_temperature_sensor: sensor.living_room_temperature
    external_temperature_enable: switch.living_room_radiator_external_temperature_sensor
    external_temperature_value: number.living_room_radiator_external_temperature_sensor_value

  - id: office
    alias: Office
    thermostat: climate.office_radiator_thermostat
    external_temperature_sensor: sensor.office_temperature
    external_temperature_enable: switch.office_radiator_external_temperature_sensor
    external_temperature_value: number.office_radiator_external_temperature_sensor_value
